<footer>
  <div class="content">

    <div class="container-fluid">
      <div class="row">

        <div class="col-xs-12">
          <img class="tree" src="/assets/2016/img/logos/tree-logo-kaleidoscope.svg" alt="CascadiaFEST logo 2016" />
        </div>

        <div class="container">
          <div class="row">

            <div class="col-xs-12">
              <h5>Send <i class="fa fa-heart"></i> emails to: <a href="mailto:info@cascadiajs.com">info@cascadiajs.com</a></h5>
            </div>
            <div class="col-xs-12">
              <p>CascadiaFest is a three-day, community-driven conference on the cutting edge of JavaScript and CSS. Browser, server, OS – we cover it all. <br>              &copy; 2016 CascadiaFest</p>
              <p>
              Previous:
                <a href="http://2012.cascadiajs.com/">2012</a>,
                <a href="http://2013.cascadiajs.com/">2013</a>,
                <a href="http://2014.cascadiajs.com/">2014</a>,
                <a href="http://2015.cascadiajs.com/">2015</a>
              </p>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</footer>
