---
# 2016 stylesheet
---

@charset "utf-8";

.post-list {
    list-style: none;
    padding: 0;

    li {
        padding: 1em 0;
        border-bottom: 1px solid silver;
    }

    h3 {
        margin-top: 0;
        margin-bottom: .25em;
    }
}

.navbar {
	border-radius: 0;
}
