---
# Main stylesheet
---

@charset "utf-8";

$green-dark: #0b2c00 !default;
$blue-dark: #1c2e4c !default;

$green-medium: #33a143 !default;
$blue-medium: $blue-dark !default;

$green-light: $green-medium !default;
$blue-light: #008cff !default;

$css-purple: rebeccapurple #639 !default;
$node-green: #43853d !default;
$js-yellow: #f7df1e !default;

$navbar-default-bg: $green-dark;
$navbar-default-brand-color: white;
$navbar-default-link-color: white;
$navbar-default-link-hover-color: white;
$navbar-margin-bottom: 0;
$navbar-default-border: transparent;
$navbar-default-link-active-color: white;
$navbar-default-link-active-bg: lighten($green-dark, 10%);
$navbar-default-toggle-hover-bg: $navbar-default-link-active-bg;

$media-query-xs: "only screen and (min-width : 300px)";
$media-query-sm: "only screen and (min-width : 768px)";
$media-query-md: "only screen and (min-width : 992px)";
$media-query-lg: "only screen and (min-width : 1200px)";

@import '_bootstrap/_bootstrap';

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

@media #{$media-query-md} {
	.container-fluid {
		max-width: 99rem;
		margin: 0;
	}
}

#hero .container-fluid {
	margin: 0 auto;
	max-width: none;
}

main {
	flex: 1;
}

.navbar {
	border-radius: 0;

	&-header {
		color: $navbar-default-link-color;
	}
}

.navbar-toggle {
	padding: 7px 8px;
	font-size: 1.2rem;
}

.thin {
	font-weight: normal;
}

.page-title {
	border-bottom: 1px solid currentColor;
}

.post-list {
	list-style: none;
	padding: 0;

	li {
		padding: 1em 0;
		border-bottom: 1px solid silver;
	}

	h3 {
		margin-top: 0;
		margin-bottom: .25em;
	}
}


@import '_cascadia/hero.scss';
@import '_cascadia/footer.scss';